# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Ignore ~ file endings
*.*~
# Ignore known binaries for programs and plugins
main
shy
*.exe
*.o
*.so
.*.c
*.obj
*.exp
*.ilk
*.pdb
*.dll
*.lib
*.bak
*.dylib
a.out
# Ignore hidden .hash files (mainly found in cmd/)
.*.hash
# Ignore temp directories
/temp
/tmp
